<!--
<h1>Chalet</h1>

<p>{{ title }}</p>

<button (click)="onClick()">Click me</button>

<input type="text" (input)="onInput($event)">
<p><strong>{{inputValue}}</strong></p>

<app-post></app-post>
&lt;!&ndash;<app-post></app-post>&ndash;&gt;

<hr>

<app-post4></app-post4>
-->
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Nice dark sign in form</title>



</head>

<body>
<h1>Welcome</h1>
<div id="wrapper">
  <form id="signin" method="" action="" autocomplete="off">
    <input type="text" (input)="onInput($event)" id="user" name="user" placeholder="e-mail" />
    <input type="password" (input)="inputPassword($event)" id="pass" name="pass" placeholder="password" />
    <button type="submit">&#xf0da;</button>
    <p>forgot your password? <a href="#">click here</a></p>
  </form>
</div>


</body>
</html>
